<% content_for :title, t("admin.presentations.edit_title") %>
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="<%= ui_class(:title) %> mb-0"><%= t("admin.presentations.edit_title") %></h1>
  <%= link_to t("admin.presentations.open"), admin_presentation_path(@presentation), class: ui_class(:button, :secondary, :small) %>
</div>
<%= render "form", presentation: @presentation %>
